[Unit]
  Description=FastPanelFix
 
[Service]
  ExecStart=/usr/bin/node /root/FastPanelFix/index.js
  Type=idle
  KillMode=process
 
  SyslogIdentifier=FastPanelFix
  SyslogFacility=daemon
 
  Restart=on-failure
 
[Install]
  WantedBy=multiuser.target
